
@{
    ViewBag.Title = "SomeSecurity";
}

<h2>SomeSecurity</h2>

<div class="well">

    @ViewBag.SomeSecurityValue

    @Html.Raw(ViewBag.SomeSecurityValue)
    <br />
    @Html.Raw(ViewBag.UserID)
    <br />
    @Html.Raw(ViewBag.Password)
    <br />

</div>
